<div class="container">
  <h2 class="example-header">Coffee App</h2>
  <h4 class="example-sub-header">Coffee Details</h4>
  <ng-container *ngFor="let coffee of coffeeData$; let i = index">
    <mat-card class="example-card">
      <mat-card-title>{{ coffee.blend_name }}</mat-card-title>
      <mat-card-subtitle
        >{{ coffee.origin }} | Id: {{ coffee.id }}</mat-card-subtitle
      >
      <mat-card-content>
        <p>{{ coffee.variety }}</p>
        <p>{{ coffee.notes }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="homeRoute()">Back To Home</button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
